@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color:#20262E;
}



nav li {
    color:white;
    font-weight: 500;
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

nav ul li  a:hover{
 color: #FF5722;
 transition: .5s;
}

.selected-nav{

    background:#20262E;
    border: 2px solid white ;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: medium;
    appearance: none;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}


.home {
    /* color:#FFB100; */
    color: #FF5722;
    /* color: #FFB26B; */
}

.logo {
    height: 40px;
}

.logo-branding{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    color: white;
}

img{
    float: left;
    margin-right: 10px;
}

.logo-item{
    display: flex;
    align-items: center;
}

button{
    color: #20262E;
    font-weight: 600;
    background-color: #FF5722;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    border-radius: none;
    border: none;
}
button a{
    color: white;
}
button a:hover{
    color: #20262E;
}


h1{
    color: white;
}

.personal-branding{
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.personal-img{
    height: 350px;
    border-radius: 100%;
    border: 7px solid white;
}
.description{
    max-width: 60%;
}

.h1-class{
    font-size: xx-large;
}

.btn-project{
    position: relative;
    display: flex;
    margin-top: 15px;
    font-weight: 600;
}

.boxtext{
display: flex;
width: 400px;
border: 0px solid ;
}

.boxtext .text{
    position: relative;
    color: #FF5722;
    font-size: xx-large;
    font-family: poppins;
    font-weight: bold;
}

.boxtext .textname-my{
margin-right: 10px;
}
.boxtext .textname-myname{
    color: white;
    padding-right: 2px;
    font-size: xx-large;
    font-family: poppins;
    font-weight: bold;
}
.boxtext .textname-myname::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* border-left:  2px solid white; */
    /* background-color:rgba(255, 0, 0, 0.307); */
    animation: animationOne 5s steps(14) infinite;
}

/* @keyframes  animationOne{
    3%{
        left: 0%;
    }
    30%{
        left: 100%;
    }
    80%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
} */

.name-about{
    color:#FF5722;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}


.about-personal{
    color:white;
    text-align: center;  
}


.about-description{
    margin-top: 10px;
 padding-left: 30%;
 padding-right: 30%;
}



.header-project{
    color:#FF5722;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}
.card-project{
    background-color: white;
    padding-left:  20px;
    padding-right:  20px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width:100%;
    border-radius: 15px;
}

.name-project{
    font-size: x-large;
    text-align: center;
    color:#FF5722;
}

.shop{
    margin-left:10;
    height: 130px;
}

.description-project{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.btn_project-all{
    background: none;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #20262E;
}

.btn_project-all a{
    color: #20262E;
    font-weight: 700;
}
.btn_project-all a:hover{
    color: #FF5722;
    font-weight: 700;
}
.project-des{
    color: white;   
}

footer{
    margin-top: 10%;
    background: #FF5722;
    height: auto;
    width: 100% ;
    padding-top: 40px;
    color: #20262E;
}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.footer-item h3 {
    font-weight: 700;
    font-size: xx-large;
    text-transform: capitalize;
}

.footer-item p{
    margin: 10px auto;
    max-width: 500px;

}

.medsos {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 40px;

}

.medsos li{
    margin: 0 10px;
}

.medsos a{
    text-decoration: none;
    color:#20262E;
}

.footer-copy{
    text-align: center;
}
.footer-copy p{
    word-spacing: 2px;
    text-transform: capitalize;
}

.copy-right{
    color: #20262E;
}